torch
gymnasium==0.28.1
gymnasium[atari,accept-rom-license]==0.28.1
ray[rllib] @ https://s3-us-west-2.amazonaws.com/ray-wheels/master/705aae1bb84ec341d0174f59396fac579595dc12/ray-3.0.0.dev0-cp310-cp310-manylinux2014_x86_64.whl
mujoco
pygame
redis
